<div class="container fee my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card box-shadow">
                <div class="card-header">
                    <div class="row">
                        <h3 class="mx-auto">Payment Details</h3>
                        <img class="img-fluid cc-img"
                            src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
                <div class="card-block p-3">
                    <form role="form">
                        <div class="form-group">
                            <label>CARD NUMBER</label>
                            <div class="input-group">
                                <input type="tel" class="form-control" placeholder="Valid Card Number" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 ">
                                <div class="form-group">
                                    <label><span class="hidden-xs">EXPIRATION</span><span
                                            class="visible-xs-inline">EXP</span> DATE</label>
                                    <input type="tel" class="form-control" placeholder="MM / YY" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>CV CODE</label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>CARD OWNER</label>
                            <input type="text" class="form-control" placeholder="Card Owner Names" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button onclick="window.alert('Module is Temporarily down')" class="btn btn-success btn-lg btn-block">Process payment</button>
                </div>
            </div>
        </div>
    </div>
</div>