<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>College_Management</title>
    <link rel="shortcut icon" href="image/portal/apple-touch-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/portalstyle.css">

</head>

<body ng-app="App" ng-controller="Ctrl">

    <div id="overlay">
        <div class="spinner"></div>
    </div>

    <!-- haeder -->

    <div class=" header d-flex justify-content-between align-items-center px-2 mx-md-3">

        <p class="my-md-1">College Management</p>
        <div class="log-out">
            <button ng-click="logout()">Log Out!</button>
        </div>
    </div>

    <!-- navbar -->
    <section class="nav-section ">
        <nav class="navbar navbar-expand-lg navbar-light box-shadow2">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNavDropdown">

                <ul class="navbar-nav">
                    <li class="nav-item px-md-5">
                        <a class=" flex-sm-fill text-sm-center nav-link" href="#!home?&id={{info[mainid].id}}"
                            ng-click="navBar(1)"><i class="fa fa-home" aria-hidden="true"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown px-md-5">
                        <a class="px-md-5 flex-sm-fill text-sm-center nav-link dropdown-toggle" href="" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            ng-click="navBar(2)">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            My Services
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="px-md-5 dropdown-item text-dark"
                                href="#!attendence?&id={{info[mainid].id}}">Attendence</a>
                            <a class="px-md-5 dropdown-item text-dark" href="#!timetable?&id={{info[mainid].id}}">Time
                                Table</a>
                            <a class="px-md-5 dropdown-item text-dark"
                                href="#!subjects?&id={{info[mainid].id}}">subjects</a>
                        </div>
                    </li>
                    <li class="nav-item px-md-4">
                        <a class="px-md-5 flex-sm-fill text-sm-center nav-link"
                            href="#!studentinfo?&id={{info[mainid].id}}" ng-click="navBar(3)"><i class="fa fa-id-card-o"
                                aria-hidden="true"></i>
                            Student Info Center
                        </a>
                    </li>

                    <li class="nav-item px-md-5">
                        <a class="px-md-5 flex-sm-fill text-sm-center nav-link"
                            href="#!feepayment?&id={{info[mainid].id}}" ng-click="navBar(4)"><i
                                class="fa fa-credit-card" aria-hidden="true"></i></i>
                            Fee Payment
                        </a>
                    </li>

                    <li class="nav-item px-md-5">
                        <a class=" px-md-2 flex-sm-fill text-sm-center nav-link"
                            href="#!feedbackform?&id={{info[mainid].id}}" ng-click="navBar(5)"><i
                                class="fa fa-commenting-o" aria-hidden="true"></i>
                            Feedback Form
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

        <div class="nav-section2 px-md-4 my-2">
            <span>
                <i>{{navelement}}</i>
            </span>
            <span>
                Welcome : {{info[mainid].name}}
            </span>
        </div>
    </section>


    <!-- injection section -->

    <section>
        <ng-view></ng-view>
    </section>

    <!-- footer -->

    <footer class="d-flex justify-content-between px-md-4 mb-4">
        &copy; 2019 All Rights Reserved | Made By Vaibhav Singh Negi
        <span>
            Time : {{ clock | date:'HH:mm:ss'}}
        </span>
    </footer>
    <!-- scripts -->

    <!-- angular -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- bootstrap -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="js/model.js"></script>
    <script src="js/controller.js"></script>

    <!-- vanilajs -->

    <script>
        var overlay = document.getElementById("overlay");

        window.addEventListener('load', function () {
            overlay.style.display = 'none';
        })
    </script>


    <!-- jquery -->
    <script>
        function postToGoogle() {
            console.log('hi');

            var field1 = $("#name").val();
            var field2 = $("#email").val();
            var field3 = $("#phone").val();
            var field4 = $("#textarea").val();

            $.ajax({
                url: "https://docs.google.com/forms/d/e/1FAIpQLSdSgZJjYypZ09SJr-fvTOH0hLzHtKhUklh-op12TIpmAAaZYg/formResponse?",
                data: {
                    "entry.2073550191": field1,
                    "entry.1526055583": field2,
                    "entry.1472741501": field3,
                    "entry.304374637": field4
                },
                type: "POST",
                dataType: "xml",
                success: function (d) {},
                error: function (x, y, z) {
                    console.log('done sending');
                }
            });

        }
    </script>


</body>

</html>